<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>design</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Material%20Icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="assets/css/Pretty-Search-Form-.css">
    <link rel="stylesheet" href="assets/css/Profile-Picture-With-Badge-profile-pic-with-badge.css">
    <link rel="stylesheet" href="assets/css/Profile-Picture-With-Badge.css">
    <link rel="stylesheet" href="assets/css/Search-Input-responsive.css">
</head>

<body>
    <div style="margin: 81px;border-radius: 64px;background: #25242d;border-width: 4px;border-style: none;padding: 0px;">
        <div style="padding: 43px;margin: 0px;padding-bottom: 10px;">
            <h1 style="height: 34.25px;">Вопрос #3</h1>
            <p style="font-size: 19px;margin-top: 30px;padding-top: 2px;margin-bottom: 32px;">Какой жанр книг ты предпочитаешь? Я знаю много интересных и увлекательных произведений разных направлений и стилей. Вот несколько вариантов ответов:<br></p>
            <div>
                <div class="custom-control custom-radio" style="font-size: 20px;"><label class="form-label custom-control-label" for="customRadio1" style="font-size: 15px;margin-top: 0px;margin-bottom: 15px;"><input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked="">&nbsp;Я люблю фантастику и приключения. Меня завораживают истории о других мирах, галактиках, цивилизациях и существах. Мне нравятся книги Айзека Азимова, Артура Кларка, Рэя Брэдбери и других мастеров жанра.</label></div>
                <div class="custom-control custom-radio" style="font-size: 20px;"><label class="form-label custom-control-label" for="customRadio1" style="font-size: 15px;margin-top: 0px;margin-bottom: 15px;"><input type="radio" id="customRadio-2" class="custom-control-input" name="customRadio" checked="">&nbsp;Я люблю фантастику и приключения. Меня завораживают истории о других мирах, галактиках, цивилизациях и существах. Мне нравятся книги Айзека Азимова, Артура Кларка, Рэя Брэдбери и других мастеров жанра.</label></div>
                <div class="custom-control custom-radio" style="font-size: 20px;"><label class="form-label custom-control-label" for="customRadio1" style="font-size: 15px;margin-top: 0px;margin-bottom: 15px;"><input type="radio" id="customRadio-1" class="custom-control-input" name="customRadio" checked="">&nbsp;Я люблю фантастику и приключения. Меня завораживают истории о других мирах, галактиках, цивилизациях и существах. Мне нравятся книги Айзека Азимова, Артура Кларка, Рэя Брэдбери и других мастеров жанра.</label></div>
            </div>
            <div style="text-align: right;margin: 0px;margin-bottom: 0px;margin-top: -54px;transform: translateX(6px) translateY(45px);"><button class="btn btn-primary question-back-button" type="button" style="margin: 13px;border-radius: 15px;">Назад</button><button class="btn btn-primary question-next-button" type="button" style="margin: 13px;border-radius: 15px;">Далее</button></div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/Sortable.min.js"></script>
</body>

</html>