<div class="container">
            <div class="text-white bg-dark border rounded border-0 border-light d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5">
                <div class="text-center text-lg-start py-3 py-lg-1">
                    <h2 class="fw-bold mb-2">Название теста</h2>
                    <p class="mb-0">Иванова Анна Петровна&nbsp;</p>
                </div>
                <div>
                    <p class="mb-0">Тип:&nbsp; Аттестация</p>
                    <p class="mb-0">Вопросов: 0/31&nbsp;</p>
                    <p class="mb-0">Время: 5:00</p>
                </div>
                <div>
                    <p class="text-danger mb-0">Не пройдено</p>
                </div>
                <form class="d-flex justify-content-center flex-wrap my-2" method="post">
                    <div class="my-2"></div>
                    <div class="my-2"><button class="btn btn-primary ms-sm-2" type="submit">Подробнее<br></button></div>
                </form>
            </div>
        </div>