<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
</head>

<body>
    <div style="margin: 81px;border-radius: 64px;background: #25242d;border-width: 4px;border-style: none;">
        <div style="padding: 43px;margin: 0px;padding-bottom: 12px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Вопрос #3</h1>
                        <p>Сколько весит слон?</p>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control custom-radio"><input type="radio" id="customRadio1" class="custom-control-input" name="customRadio" checked=""><label class="form-label custom-control-label" for="customRadio1">&nbsp;2 кг</label></div>
                            <div class="custom-control custom-radio"><input type="radio" id="customRadio2" class="custom-control-input" name="customRadio"><label class="form-label custom-control-label" for="customRadio2">&nbsp;10 кг</label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;margin: 0px;"><button class="btn btn-primary" type="button" style="margin: 13px;">Назад</button><button class="btn btn-primary" type="button" style="margin: 13px;">Далее</button></div>
        </div>
    </div>
    <div>
        <fieldset></fieldset>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
    <script src="assets/js/logic.js"></script>
</body>

</html>